/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}

.main {
    padding: 10px;
}

.sidebar {
    padding: 10px;
    background-color: lightyellow;
    height: 100vh;
}


/* Not required for template or sticky footer method. */

.container .text-muted {
    margin: 20px 0;
    text-align: center;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.pointerlink {
    cursor: pointer;
}