/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}

.navbar-fixed-top {
    border: 0;
}

.main {
    padding: 10px;
}

.sidebar {
    padding-left: 10px;
    background-color: lightyellow;
    height: 100vh;
}