<div class="row">
    <div class="col-sm-8 col-md-9 col-lg-9 main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <button ng-click="selectType('drink')" type="button" class="btn btn-default btn-sm">Drink</button>
                        <button ng-click="selectType('bakery')" type="button" class="btn btn-default btn-sm">Bakery</button>
                    </p>
                    <p class="text-center" ng-if="selectedtype == 'drink'">
                        <span ng-repeat="data in drinktype"> 
                            <button ng-click="selectSubType(data.name)" type="button" class="btn btn-default btn-sm">{{data.name}} </button> 
                        </span>
                    </p>
                    <p class="text-center" ng-if="selectedtype == 'bakery'">
                        <span ng-repeat="data in bakerytype"> 
                            <button ng-click="selectSubType(data.name)" type="button" class="btn btn-default btn-sm">{{data.name}} </button> 
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" ng-repeat="data in type | filter:selectedsubtype">
                    <div class="thumbnail pointer" ng-click="selectItem(data)">
                        <img class="img-responsive" ng-src="../imgmenu/{{selectedtype}}/{{data.name}}.JPG">
                        <div class="caption">
                            <p class="text-center">{{data.name}}<br>{{data.price}} บาท</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 sidebar">
        <h2 class=" text-center">Order Lists</h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Opr</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in oLists">
                    <td>{{$index+1}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.price}}</td>
                    <td>
                        <a ng-click="removeItem(data)">
                            <span class="glyphicon glyphicon-trash pointerlink"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" ng-show="oLists.length > 0">
            <button ng-click="confirmOrder();" type="button" class="btn btn-default btn-sm">Confirm Order</button>
        </div>
    </div>
</div>