<div class="row">
    <div class="col-sm-8 col-md-9 col-lg-9 main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <button ng-click="selectType('drink')" type="button" class="btn btn-default btn-sm">Drink</button>
                        <button ng-click="selectType('bakery')" type="button" class="btn btn-default btn-sm">Bakery</button>
                    </p>
                    <p class="text-center" ng-if="selectedtype == 'drink'">
                        <span ng-repeat="data in drinktype"> 
                            <button ng-click="selectSubType(data.name)" type="button" class="btn btn-default btn-sm">{{data.name}} </button> 
                        </span>
                    </p>
                    <p class="text-center" ng-if="selectedtype == 'bakery'">
                        <span ng-repeat="data in bakerytype"> 
                            <button ng-click="selectSubType(data.name)" type="button" class="btn btn-default btn-sm">{{data.name}} </button> 
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" ng-repeat="data in type | filter:selectedsubtype">
                    <div class="thumbnail">
                        <img class="img-responsive" ng-src="../imgmenu/{{selectedtype}}/{{data.name}}.JPG">
                        <div class="caption">
                            <p class="text-center">{{data.name}}<br>{{data.price}} บาท</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 sidebar">

    </div>
</div>